{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block content %}
<div class="box">
    <div class="title-container">
        <div class="title">Automated Machine Learning</div>
    </div>

    <div class="main-text">

        <!-- ✅ STEP 1: Upload CSV -->

       <!-- ✅ STEP 2: Represent the data -->
        <!-- ✅ STEP 2: Represent the data -->

       <!-- ✅ STEP 5: Train Model -->
       <div class="step-box" style="margin-top: 20px;" id="step-5">
        <h3>Step 5: Train Model</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="csv_loaded" value="true">
            <input type="hidden" name="model" value="{{ selected_model }}">
            <input type="hidden" name="action" value="train">
            <input type="hidden" name="scroll_to" value="step-5">

            <button type="submit" name="action" value="train">Train</button>
        </form>

        {% if train_success %}
            <p style="color: green;">Model trained successfully!</p>
        <h4>Evaluation Metrics</h4>
        <ul>
            <li><strong>Accuracy:</strong> {{ accuracy }}%</li>
            <li><strong>Precision:</strong> {{ precision }}%</li>
            <li><strong>Recall:</strong> {{ recall }}%</li>
            <li><strong>F1 Score:</strong> {{ f1 }}%</li>
        </ul>
        {% else %}
            <p style="color: red;">Model not trained yet.</p>
        {% endif %}


    </div>