<div class="star-rating" id="star-rating">
  <div class="star-container">
    <span class="star" data-rating="0.5">★</span>
    <span class="rating-number">0.5</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="1.0">★</span>
    <span class="rating-number">1.0</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="1.5">★</span>
    <span class="rating-number">1.5</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="2.0">★</span>
    <span class="rating-number">2.0</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="2.5">★</span>
    <span class="rating-number">2.5</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="3.0">★</span>
    <span class="rating-number">3.0</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="3.5">★</span>
    <span class="rating-number">3.5</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="4.0">★</span>
    <span class="rating-number">4.0</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="4.5">★</span>
    <span class="rating-number">4.5</span>
  </div>
  <div class="star-container">
    <span class="star" data-rating="5.0">★</span>
    <span class="rating-number">5.0</span>
  </div>
</div>