{% extends 'base.html' %}

{%  load static %}

{% block extra_css %}
        <link rel= "stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block content %}

<div class="box">
    <div class="title-container">
        <div class = "title">HCAI project hub</div>
    </div>

    <div class="main-text">
    <div class="summary" >
        <p class="centered-text">This is a home page for the project_1</p>
    </div>

    <div class="actions">
        <h2 style="text-align: center;">"____"</h2>
        <div class="button-container">
            {% for action in actions %}
                <form action="{% url action.url_name %}" method="get" style="margin-bottom: 10px;">
                    {% csrf_token %}
                    <button type="submit">{{ action.name }}</button>
                </form>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}

{% block script %}
{% endblock script %}
